* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #222;
}

.nav {
    background: linear-gradient(to right, #00C6FF, #0072FF);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.15);
}

.home {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.2s ease, 0.3s ease;
}

.course {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.2s ease, 0.3s ease;
}

.badge {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.2s ease, 0.3s ease;
}

.announcements {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.2s ease, 0.3s ease
}

.heading {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

.nav a:hover {
    transform: scale(1.05);
}

.course-h1 {
    background: linear-gradient(80deg, #00C6FF, #0072FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.2rem;
    font-weight: 750;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-top: 10px;
}

.prog-bar {
    text-align: center;
    margin: 50px auto;
    width: 80%;
    padding: 40px;
    background-color: #e8f5ff;
    border-radius: 15px;
}

.prog-heading {
    color: #0072FF;
    margin-bottom: 10px;
    font-size: 2rem;
}

.prog-p {
    color: #555;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

th,
td {
    padding: 15px;
    border: 1px solid #bbb;
    text-align: center;
}

th {
    background-color: #00C6FF;
    color: white;
}

td {
    background-color: #fff;
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #00C6FF;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid #00C6FF;
}

button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    outline: 2px solid #007BFF;
    box-shadow: 4px 5px 17px -4px #007BFF;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #007BFF;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}

table td {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}

.quiz-button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #00C6FF;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid #00C6FF;
    margin-left: 710px;
    margin-top: 100px;
    font-size: 20px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease, visibility 1s ease;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loader p {
    margin-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    animation: blink 1.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#loader.hide {
    opacity: 0;
    visibility: hidden;
}

