* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.head1 {
  color: white;
  font-size: 4.2rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

.log-form {
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.405);
  width: 450px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
}

.log-form input {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.log-button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #00C6FF;
  transition: all 1000ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #00C6FF;
}

.log-button:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  outline: 2px solid #007BFF;
  box-shadow: 4px 5px 17px -4px #007BFF;
}

.log-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #007BFF;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.log-button:hover::before {
  width: 250%;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #00C6FF;
  text-decoration: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease, visibility 1s ease;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loader p {
    margin-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    animation: blink 1.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#loader.hide {
    opacity: 0;
    visibility: hidden;
}