* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("images/Mathematics-quiz-background.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 110%;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.main-heading {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: none;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 10px #00cfff, 0 0 20px #007bff;
}

.section {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 10px #00cfff, 0 0 20px #007bff;
    margin-bottom: 20px;
}

p {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

form {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: white;
}

input[type="radio"] {
    accent-color: #4e6ef5;
    width: 20px;
    height: 20px;
    transform: scale(1.3);
    cursor: pointer;
    margin: 10px;
}

input[type="radio"]:hover {
    accent-color: #2b50e0;
}

input {
    outline: none;
    padding: 10px 15px;
    border: 2px solid #4A90E2;
    border-radius: 5px;
    font-size: 16px;

}

input:focus {
    border-color: #1C6DD0;
    box-shadow: 0 0 5px rgba(28, 109, 208, 0.5);
}

.MCQ {
    backdrop-filter: blur(15px);
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.FITBQ {
    backdrop-filter: blur(15px);
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.TOFQ {
    backdrop-filter: blur(15px);
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

.submit-btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #00C6FF;
    transition: all 1000ms;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #00C6FF;
    margin-left: 650px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.submit-btn:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    outline: 2px solid #007BFF;
    box-shadow: 4px 5px 17px -4px #007BFF;
}

.submit-btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #007BFF;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.submit-btn:hover::before {
    width: 250%
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease, visibility 1s ease;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loader p {
    margin-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    animation: blink 1.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#loader.hide {
    opacity: 0;
    visibility: hidden;
}