* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #222;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

nav {
    background: linear-gradient(to right, #0072FF, #00C6FF);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.15);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.2s ease, 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

nav a:hover {
    transform: scale(1.05);
}

.actual-table-heading-h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

th,
td {
    padding: 15px;
    border: 1px solid #bbb;
    text-align: center;
}

th {
    background-color: #00C6FF;
    color: white;
}

td {
    background-color: #fff;
}

table td {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}

table td a {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #00C6FF;
    text-decoration: none;
}

.marks-heading-h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease, visibility 1s ease;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loader p {
    margin-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    animation: blink 1.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#loader.hide {
    opacity: 0;
    visibility: hidden;
}